*.class
*.log
target
.idea/modules/mongo-data-pipeline.iml
.idea/modules/mongo-data-pipeline-build.iml
.idea/libraries/sbt__org_slf4j_slf4j_api_1_7_26_jar.xml
.idea/libraries/sbt__org_slf4j_slf4j_log4j12_1_7_5_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_library_2_11_8_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_reflect_2_11_8_jar.xml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/libraries/sbt__com_typesafe_scala_logging_scala_logging_2_11_3_9_2_jar.xml
.idea/libraries/sbt__log4j_log4j_1_2_17_jar.xml
.idea/libraries/sbt__org_mongodb_bson_3_12_2_jar.xml
.idea/libraries/sbt__org_mongodb_mongodb_driver_async_3_12_2_jar.xml
.idea/libraries/sbt__org_mongodb_mongodb_driver_core_3_12_2_jar.xml
.idea/libraries/sbt__org_mongodb_scala_mongo_scala_bson_2_11_2_9_0_jar.xml
.idea/libraries/sbt__org_mongodb_scala_mongo_scala_driver_2_11_2_9_0_jar.xml
